body {
  background: #eee;
  font-family: sans-serif;
}

.card {
  width: 400px;
  background: #fff;
  margin: 16px;
  padding: 8px;
  }

.title {
  background: #e3f4ff;
  padding: 8px;
  margin-bottom: 8px;
  font-size: 16px;
}

.content {
  background: #e3f4ff;
  padding: 10px 8px;
  margin-bottom: 8px;
}

.button-container {
  text-align: center;
  padding: 8%; 
  background: #e3f4ff;
}

button {
  margin: 0 auto;
  display: block;
  padding: 8px 24px;
  background: white;
  border: 0px solid #eee;
}